.widget{
    display: flex;
    justify-content: space-between;
    flex:1;
    padding: 20px;
    border: 2px solid #F7BD3D;
    background-color: white;
    border-radius: 10px;
    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .container-title{
            display: flex;
            align-items: center;
            padding: 5px;
            
            .boxIcon{
                fill:green;
                stroke:green;
            }
    /*         svg{
                margin-right: 2%;
            }
            rect{
                fill:green;
                stroke:green;
               
                // style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9"
            } */
        }
        .title{
            font-weight: bold;
            font-size: 14px;
        }
       
        .counter{
            font-size: 18px;
            font-weight: bold;
        }
    }

    .right{

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .container-title{
            display: flex;
            align-items: center;


        }

        .title-right{
            font-weight: bold;
            font-size: 14px;
        }

    }

}